<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ asset('assets/js/jwplayer-7.4.2/jwplayer.js') }}"></script>
    <script>jwplayer.key="Kv+OFMEPYEHuvw4XbH5RxjSRLRqOzOXIv0jGUw==";</script>
</head>
<body>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    Welcome Back {{ app.user.username }}!


    <a href="/logout">Logout</a>

    <br><br>

{% else %}

    Welcome on videoUploader ! To share and see videos you can just <a href="/register">Sign Up For free !</a> <br>
    If you already have an account just <a href="/login">Sign In</a>.<br><br>
{% endif %}

<div>
    {% for item in videos %}
        <h3>{{ item.title }}</h3><br><br>
        <a href="/video/show/{{ item.youtubeId }}"><img src="{{ item.previewImage }}"></a><br>
        <i>Posted By {{ item.user.username }}</i><br><br>
    {% endfor %}
</div>

{% for item in video %}
    <h3>{{ item.title }}</h3>
    <a href="/customvideo/show/{{ item.id }}"><img width="560" height="315"  src="/assets/preview//{{ item.previewImageName }}"></a><br>
    <i>Posted By {{ item.user.username }}</i>
{% endfor %}




</body>
</html>


