<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Title</title>
     <script src="{{ asset('assets/js/jwplayer-7.4.2/jwplayer.js') }}"></script>
     <script>jwplayer.key="Kv+OFMEPYEHuvw4XbH5RxjSRLRqOzOXIv0jGUw==";</script>
 </head>
 <body>
 <h1>{{ video.title }}</h1>
 <div id="{{ video.id }}">
     loading....
 </div><br>
 <div>
     {{ video.description }}
 </div> <br>
 <i>Posted By {{ video.user.username }}</i> <br><br>
 <script type="text/javascript">
     jwplayer("{{ video.id }}").setup({
         base: '/assets/videos/{{ video.videoName }}',
         file: '/assets/videos/{{ video.videoName }}',
         "height": 360,
         "width": 640,
     });
 </script>

 <a href="/">Back To Homepage</a>





 </body>
 </html>


