{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.videoFile) }}
    {{ form_row(form.previewFile) }}
<button type="submit">Upload A Video</button>
{{ form_end(form) }}